.banner{
    background-color: darkslategray;
    color: whitesmoke;
    height: 100px;
    text-align: center;
    font-size: 50px;
}

.container-fluid{
    padding: 0px;
}

.page{
    margin-left: 250px;
    /* padding: 20px; */
}

.sidenav {
    width: 200px; /* 0 width - change this with JavaScript */
    height: 100%;
    left: 0;
    background-color: #111; /* Black*/
    position: fixed;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
  }