<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-4">
				<img class="rounded img-fluid" src="../resources/img/enemy.PNG" alt="Badguy">
			</div>
			<div class="col-8">
				<div class="jumbotron">
				  <h1 class="display-4">Welcome to SoftwareQuest!</h1>
				  <p class="lead">Software Quest is a casual, 3D physics-based “rogue-like” game that plays across brief episode-like levels with a self-aware software development theme that introduces the player to elements of the design and production process.
					Gameplay will be a third person, top down perspective, physics-based action-adventure where the player controls an avatar that must navigate through an environment, solving puzzles to advance and fighting enemies in real-time using items and powerups collected. Adversaries, equipment, powerups etc, will follow a software-development theme such as collecting skills like “Agile” (the agile development method), finding companions like the “3D modeler”, and overcoming obstacles like the “Clueless producer.”
					</p>
					<hr>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>